<html>
    <head>
        <title>Hello | my first app</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="../resources/js/main.js"></script>
        <link rel="stylesheet" type="text/css" href="../resources/css/main.css">
    </head>
    <body>
        <div class="head">
            <div>
                Hello App
            </div>
        </div>
        <div class="body">
            <div class="card">
                <p>
                    Hello There , </br>
                        &nbsp; Welcome to my application.</br>
                        &nbsp; I am kiran dongare and I am student at TKIET.
                </p>
                <button class="btn" onclick='location.href="https://github.com/kirandongare9"'>Click here to visit my github profile</button>
            </div>
        </div>
        <div class="footer">
            Created by @ Kiran Dongare 
        </div>
    </body>
</html>